<div class="faqs">
    <span>Elemento y Alimentos es una de las mayores empresas alimenticias del mercado. </span>
    <br>
    <span> Con mas de 40 años en el sector se ha convertido en todo un referente.</span>
</div>
<div class="faqs" onchange="changeRotative()" *ngFor="let img of array_images; let i = index;" [hidden]="currentIndex !== i">
    <img [src]="img">
</div>
<br/>
<div class="faqs">
    <h5>¿Quienes son nuestros clientes?</h5>
    <br>
    <span> Trabajamos con y para lideres punteros en el sector vease Mercadona, Carrefour, Mas y Mas, etc.</span>
    <br>
    <img class="img_cliente" src="/assets/logo_mercadona.png"/> 
    <img class="img_cliente" src="/assets/logo_masymas.png"/>
    <img class="img_cliente" src="/assets/carregour_logo.jpg"/>
</div>
