<form class="form" action="submit" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" [(ngModel)]="data_formulario.email" name="email" id="email" required><br>


        <label for="empresa">Empresa</label>
        <input type="checkbox" [(ngModel)]="data_formulario.empresa" name="empresa" id="empresa" placeholder="empresa"><br>

        <label for="tlf">Telefono:</label>
        <input type="tel" [(ngModel)]="data_formulario.tlf" name="tlf" id="tlf" required><br>

        <input type="submit" [disabled]="!data_formulario.email">
    </div>
</form>