
<div class="cards-container">
        <div class="cards" *ngFor="let x of array_articulos">
          <span class="nombre-class">Nombre: {{ x.nombre }}</span>
          <br>
          <span class="precio-class">Precio: {{ x.precio }}€</span>
          <br>
          <img (click)="addPuls()" (click)="acumularPrecio(x.precio)" class="foto-class" src="{{ x.foto }}" alt="">
        </div>
      </div>
      
<span class="contador"> <i class="fas fa-shopping-cart"></i>{{number_puls}} elementos | Precio: {{precio}}</span>

