
<div class="cards-container">
        <div class="cards" *ngFor="let x of array_articulos">
          <img  class="foto-class" src="{{ x.foto }}" alt="">
          <br/>
          <span class="nombre-class">{{ x.nombre }}</span>
          <br>
          <span class="precio-class">Precio: {{ x.precio }}€</span>
          <br>
          <button class="addCart" (click)="addPuls()" (click)="acumularPrecio(x.precio)">Añadir al carrito</button>
        </div>
      </div>
      
<span class="contador"> <i class="fas fa-shopping-cart"></i>{{number_puls}} elementos | Precio: {{precio}}</span>

