<!DOCTYPE html>
<head>
    <Title>Pagina Web Prueba</Title>
</head>

<body>
    <h1 class="h1_first">Elementos y Alimentos</h1>

   <!-- <hr/>-->
    <div class="todo_apartado">
        <h2>Apartado Todo</h2>
        <!--Use the array palabras for iterate each value and print it like x-->
        <span class="iter_array" *ngFor="let x of palabras">
            {{x}}
        </span>
        <p>Escribe una tarea</p>
        <!--With this ngmodel, we capture the new value of nuevo and can send it at the function-->
        <input [(ngModel)]="nuevo" type="text">
        <button (click)="addTodo(nuevo)">Añadir tarea</button>
    </div>
    <div class="card_apartado">
        <h2>Articulos</h2>
        <app-cards></app-cards>
    </div>
</body>
