<!DOCTYPE html>
<head>
    <Title>Pagina Web Prueba</Title>
</head>

<body id="general">
    <div class="cabecera">
        <h1 class="h1_first">Elementos y Alimentos</h1>
        <header class="header">
            <button class="menu_buttons" routerLink="/">Inicio  </button> 
            <button class="menu_buttons" routerLink="/faq">¿Quienes somos?</button> 
            <button class="menu_buttons" routerLink="/articulos"> Articulos</button> 
            <button class="menu_buttons" routerLink="/contacto"> Contacto</button>
            <button class="menu_buttons" routerLink="/anyadir">Añadir Elemento</button>
            <!--<button routerLink="/faq" target="_blank">Añadir Elemento 2</button>-->
        </header>
    </div>
   <!-- <hr/>-->
   
    <!--We check if variable is false to display it-->
    <!--USE ROUTER LINK-->
    <!--<div *ngIf="!show_all" class="card_apartado">
        <h2>Articulos</h2>
        <app-cards></app-cards>
    </div>
    <div *ngIf="!show_faq" class="card_apartado">
        <h2>¿Quienes somos?</h2>
        <app-faq></app-faq>
    </div>
    <div *ngIf="!show_contacto" class="card_apartado">
        <h2>Contacto</h2>
        <app-contacto></app-contacto>
    </div>
    <div *ngIf="!show_elemento" class="card_apartado">
        <h2>Añadir Elemento</h2>
        <app-elemento-add></app-elemento-add>
    </div>-->
    <router-outlet/>
        <div class="apartado_2">
            <h3>Nuestros Productos</h3>
            <span>Recibe nuestros productos de maxima calidad y frescura</span>
            <img src="/assets/header_food.jpg"/>
        </div>
        <div id="apart2" class="apartado_2">
            <h3>Nuestras Tiendas Fisicas</h3>
            <span>Con más de 500 tiendas repartidas por más de 40 paises</span>
            <div>
                <img class="img_apart2" src="/assets/tienda.jpg"/>
                <img class="img_apart2" src="/assets/tienda_2.png">
            </div>
        </div>
        <section class="medio_ambiente">
            <div>
                <h3>Medio Ambiente</h3>
                Nuestros transportistas y proveedores están sumamente comprometidos con el medio ambiente,
                por ello solo utilizan vehiculos electricos.
            </div>
        </section>
        <footer>Web hecha por Ramón Moncholí Ros</footer>
        
</body>
