<!DOCTYPE html>
<head>
    <Title>Pagina Web Prueba</Title>
</head>

<body id="general">
    <div class="cabecera">
        <h1 class="h1_first">Elementos y Alimentos</h1>
        <header class="header">
            <span (click)="toogleFaq()">¿Quienes somos?  </span> |
            <span (click)="toogle()"> Articulos</span> |
            <span (click)="toogleContacto()"> Contacto</span>
        </header>
    </div>
   <!-- <hr/>-->
    <div *ngIf="show_all && show_faq && show_contacto" class="todo_apartado">
        <h2>Apartado Todo</h2>
        <!--Use the array palabras for iterate each value and print it like x-->
        <span class="iter_array" *ngFor="let x of palabras">
            {{x}}
        </span>
        <br>
        <!--With this ngmodel, we capture the new value of nuevo and can send it at the function-->
        <input placeholder="Escribe una tarea" [(ngModel)]="nuevo" type="text">
        <button (click)="addTodo(nuevo)">Añadir tarea</button>
    </div>
    <!--We check if variable is false to display it-->
    <div *ngIf="!show_all" class="card_apartado">
        <h2>Articulos</h2>
        <app-cards></app-cards>
    </div>
    <div *ngIf="!show_faq" class="card_apartado">
        <h2>¿Quienes somos?</h2>
        <app-faq></app-faq>
    </div>
    <div *ngIf="!show_contacto" class="card_apartado">
        <h2>Contacto</h2>
        <app-contacto></app-contacto>
    </div>
        <div class="apartado_2">
            <h3>Nuestros Productos</h3>
            <span>Recibe nuestros productos de maxima calidad y frescura</span>
            <img src="/assets/header_food.jpg"/>
        </div>
        <div id="apart2" class="apartado_2">
            <h3>Nuestras Tiendas Fisicas</h3>
            <span>Con más de 500 tiendas repartidas por más de 40 paises</span>
            <img src="/assets/tienda.jpg"/>
        </div>
        
</body>
