
h1, h2{
   text-align: center;
}

.iter_array{
    /*color: brown;*/
}

.h1_first{
   /*background-image:url("../assets/header.jpg");*/
   height: auto;
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 50px;
}

.header{
   font-size: 25px;
   text-align: center;
   margin-left: 50%;
}

.header>span:hover{
   color: brown;
}