
h1, h2{
   text-align: center;
}


.h1_first{
   height: auto;
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 50px;
}

.header{
   font-size: 25px;
   /* Acortar */
   max-width: 500px;
   /* Center */
   margin: 0 auto;
   /* Espacio alrededor */
   padding: 20px; 
   background-color: burlywood;
   /*width: 20%;*/
}

.header>span:hover{
   color: brown;
}

.apartado_2{
   size: 20px;
   text-align: center;
   /*El margin y el display block alinea el div y sus elementos al centro haciendo que este no ocupe todo el ancho*/
   margin: 0 auto;
   display: block;
   margin-left: auto;
   padding: 50px;
}

.apartado_2>h3{
   margin: 0 auto;
}

.apartado_2>img{
  display: flex;
  margin: 0 auto;
   height: 150px;
}

#apart2{
   background-color: bisque;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f8f8f8;
   text-align: center;
   padding: 20px 0;
 }
 